<html lang="en">
<head>
    <meta charset="utf-8">
    <title>How Good Are Your Terms?</title>
    <meta name="description" content="Terms of Service Classifier">
    <meta name="author" content = "emkawong">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <script src="{{ url_for('static', filename='js/index.js')}}"></script>
</head>

<body class="grey">
    <header>
        <nav class="blue-grey">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo right">T.o.S.</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/">Term Classification</a></li>
                    <li><a href="generator.html">Layman Converter</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <!-- START OF FORM -->
                <div class="col s8">
                    <div class="row">
                        <div class="col s12">
                            <h2>How Good Are Your Terms?</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h6>Terms of Services are hard to read, input a paragraph and get back a classification!</h6>
                            <p>The colors below going from blue to red indicate the probability of an individual term being bad by using an ensembled Logistic Regression and Naive Bayes model. The data was pulled from tosdr.org, a website that allows the community to rate and judge individual terms of service.</p>
                            <p>Once you add a term (or multiple!) and analyze, you will be able to compare your terms to columns 1-5 that have been pre-populated with the terms of service from the User Content Section of Twitch, Tiktok, Youtube, Soundcloud, and Reddit.</p>
                            <p>This model should not be used for legal advice, consider the red dots as flags for further review.</p>
                        </div>
                    </div>
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="col s12">
                                    <h4>Terms of Service:</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <!-- START INPUT FROM USER -->
                                    <textarea id="term" class="materialize-textarea"></textarea>
                                    <label for="term">Please paste a paragraph below.</label>
                                    <!-- END INPUT FROM USER -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <button class="btn waves-effect waves-light" id="solve">Analyze</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END OF FORM -->
                <!-- START RESULTS FOR GOOD/BAD  -->
                <div class="row">
                    <div class="col s12">
                        <h1 id="solution"></h1>
                    </div>
                </div>
                <!-- END RESULTS FOR GOOD/BAD  -->
                <!-- START GRAPH -->
                <div class="row">
                    <div class="col s12">
                        <canvas id="result-chart" width="400" height="400"></canvas>
                    </div>
                </div>
                <!-- END GRAPH -->
            </div>
        </div>
    </main>
</body>
</html>