<html lang="en">
<head>
    <meta charset="utf-8">
    <title>How Good Are Your Terms?</title>
    <meta name="description" content="Terms of Service Classifier">
    <meta name="author" content = "emkawong">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/generator.js')}}"></script>
</head>

<body class="grey">
    <header>
        <nav class="blue-grey">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo right">T.o.S.</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/">Term Classification</a></li>
                    <li><a href="generator.html">Layman Converter</a></li>
                    <li><a href="collapsible.html">About Me</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <!-- START OF FORM -->
                <div class="col s8">
                    <div class="row">
                        <div class="col s12">
                            <h2>Explain These Terms Like I Am Five</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h6>Terms of Services are hard to read, input a paragraph and get back a generated summary!</h6>
                        </div>
                    </div>
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="col s12">
                                    <h4>Terms of Service:</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <!-- START INPUT FROM USER -->
                                    <textarea id="term_gen" class="materialize-textarea"></textarea>
                                    <label for="term_gen">Please paste a paragraph below.</label>
                                    <!-- END INPUT FROM USER -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <button class="btn waves-effect waves-light" id="solve_gen">Generate</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END OF FORM -->
                <!-- START RESULTS FOR GOOD/BAD  -->
                <div class="row">
                    <div class="col s12">
                        <p> The solution is: <span id="solution"></span> </p>
                    </div>
                </div>
                <!-- END RESULTS FOR GOOD/BAD  -->
            </div>
        </div>
    </main>
</body>
</html>